@font-face {
    font-family: 'Bebas Neue';
    font-weight: 400;
    src: url('../fonts/AnyConv.com__BebasNeue-Regular.woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../fonts/AnyConv.com__OpenSans-Regular.woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('../fonts/AnyConv.com__OpenSans-Bold.woff');
}
