%Bebas_Neue-400 {
    font-family: 'Bebas Neue';
    font-weight: 400;
    src: url('/fonts/AnyConv.com__BebasNeue-Regular.woff');
}

%Open_Sans-400 {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('/fonts/AnyConv.com__OpenSans-Regular.woff');
}

%Open_Sans-700 {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('/fonts/AnyConv.com__OpenSans-Bold.woff');
} 

$btn-color: #1A1917;
$orng-color: #FFB548; 


